[2020-04-23 17:11] David-Melo opened #2 "New Feature Discussion: Event Listeners"
Hello, I already made a pull request to add a feature I needed and now I'm facing another need but I'm not sure how we could go about this. OneSignal provides several event listeners that are registered within the PUSH function.

[code]

It would be nice if when initializing react-onesignal we could pass in some functions to attach to those listeners. Since react-onesignal just prints out a string

[2020-04-23 18:03] gabrielnaoto commented on #2
Maybe we could have an array of events?
And then `react-onesignal` could iterate and render then in the initialization.

[code]

[2020-04-23 18:04] pedro-lb commented on #2
Looks good @gabrielnaoto! I think this solves the problem

[2020-05-16 08:22] tamerayas opened #3 "Onesignal setExtarnalId"
Hi. I need to use setExternalId in my project. Can u implement this method to your component? Please help me about that.

[2020-05-18 20:29] pedro-lb commented on #3
Hey there @tamerayas!

I'll take a look on this as soon as possible.

[2020-05-28 06:11] tamerayas commented on #3
Hi. Is there any improvement about that ?

[2020-05-28 16:53] pedro-lb commented on #3
Hey there @tamerayas!

Just released a new version with this: https://github.com/pedro-lb/react-onesignal/releases/tag/1.1.19

[2020-05-28 16:53] #3 closed

[2020-06-01 16:14] slothluvchunk opened #4 "No Document Object When Rendering Server Side"
Hi,
We're running a headless wordpress site with react on the front end, and I was hoping to be able to use this package to easily incorporate OneSignal.
We utilize isomorphic rendering, and it looks like there might be an issue with server side rendering with react-onesignal, where it requires a document object when none exists.

Do you know of any workaround for this (or is it different issue al

[2020-06-02 01:19] slothluvchunk commented on #4
Just updating - this may have been resolved by simply refactoring the component to initialize within a componentDidMount() callback.
I do get the badge now, though the subscribe/unsubscribe functionality isn't working consistently, yet.

[2020-06-03 14:17] slothluvchunk commented on #4
I'm going to close this for now - the original issue is solved, and it seems that other issues I was experiencing are not related to this at all.

[2020-06-03 14:17] #4 closed

[2020-06-03 22:35] pedro-lb commented on #4
Hey there @slothluvchunk ,

Thanks for the contribution!

Did you need to apply any changes to `react-onesignal` to solve your issue? If so, we can incorporate these changes to make sure that it will work with other users too.

Best regards,

[2020-06-12 00:21] slothluvchunk commented on #2
This is behavior we'd definitely like to use, and I may be able to carve out some time to help implement if there's any desire to get this done in the short term.

[2020-06-12 13:24] pedro-lb commented on #2
Hey there @slothluvchunk !

Feel free to submit a PR implementing this feature. I'm available to help you if you need!

[2020-06-12 16:04] slothluvchunk commented on #2
I'm not sure about the best way to structure this (just looking through the code a bit), so I'd likely need some guidance there, but am game to help.
In the meantime, I've created a "sendTag()" method that's working on my local, and allows use of the native `sendTag` functionality, similar to `setEmail()`.

ex:
`ReactOneSignal.sendTag('someTag', 'someValue');`

[2020-06-15 16:49] slothluvchunk commented on #2
@pedro-lb  - Just following up on my last comment, I've pushed up a PR to implement the sendTag/sendTags methods for the short-term.
I'd still like to help implement the event listener functionality as well, I'll just need some help in structuring it properly.

[2020-06-16 23:49] slothluvchunk commented on #2
@pedro-lb , et al.,
Just a quick update - I've got a working version locally of the events/callback array.
After defining the event name and callback in the code and passing it in as is done with `options`, the `events` array is looped over, and wrapped in some js, and injected with the rest of the script body, allowing the event listeners to load and function normally.
It will need some cleanup a

[2020-06-17 22:41] pedro-lb commented on #2
Currently in analysis - https://github.com/pedro-lb/react-onesignal/pull/6

[2020-06-19 13:45] #2 closed

[2020-06-19 14:08] pedro-lb commented on #2
https://github.com/pedro-lb/react-onesignal/releases/tag/1.2.1

[2020-08-17 12:23] BigsonLvrocha opened #11 "one signal throwing undefined"
Hello, I've been having problem debugging my application at my website because one signal was throwing undefined, the source code is already minified at this stage.
Now, by looking at the code, I know that onesignal was not setup correctly from the start.
I'm gonna open a pull request for that

[2020-08-17 15:06] pedro-lb commented on #11
Closed by https://github.com/pedro-lb/react-onesignal/pull/12

[2020-08-17 15:06] #11 closed

[2020-09-01 05:50] rahulkasana opened #16 "OneSignal Initialize Error"
So i initialize my onesignal via this, i rechecked my onesignal app id 3,4 times.
import OneSignal from 'react-onesignal';
 OneSignal.initialize('xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx', {
      requiresUserPrivacyConsent: true,
      notifyButton: {
        enable: true,
      },
      allowLocalhostAsSecureOrigin: true,
      subdomainName: 'xxxxxx-xxx',
    });

as this is the code snippet provid

[2020-09-01 06:15] rahulkasana commented on #16
Sorry this was caused by Ad blocker.

[2020-09-01 06:15] #16 closed

[2020-09-01 07:17] rahulkasana opened #17 "Unable to initialize react-onesignal The script has an unsupported MIME type ('text/html')"
I'm trying to initialize onesignal on my react app (where i have already checked my app id of onesignal it's correct).
But after it asks for permission to show notification I'm getting this worker error. When i have already removed the worker code from src/index.js

Error-
The script has an unsupported MIME type ('text/html').
[Service Worker Installation] Installing service worker failed Security

[2020-09-01 12:02] rahulkasana opened #18 "Calling any OneSignal function gives error - Uncaught (in promise) ReferenceError: react_onesignal__WEBPACK_IMPORTED_MODULE_1__ is not defined"
After initializing OneSignal. Whenever i try to call any function or log OneSignal.initialized. I'm getting reference error.
![Screenshot 2020-09-01 at 5 31 03 PM](https://user-images.githubusercontent.com/18752429/91848964-eaef3f80-ec78-11ea-9fcf-06b9d7eadf78.png)

`
initialize = async () => {
    const events = [
      {
        listener: 'on',
        event: 'subscriptionChange',
        callba

[2020-09-03 20:15] pedro-lb commented on #17
Hey there @rahulkasana !

From the looks of it, it seems that your server is not configured correctly.

Try to access the URL that you are using to serve these files while running your project: http://localhost:3000/OneSignalSDKWorker.js?appId=xxxxxxx-d75e-4239-xxxx-xxxxxxxx

Does it really download the file? And if so, what's the `Content-Type`? (you can check this in your browser's Network tab)

[2020-09-03 20:16] pedro-lb commented on #18
Hey there @rahulkasana !

This looks like a configuration problem in your setup. Maybe related to https://github.com/pedro-lb/react-onesignal/issues/17?

Can you provide a repo with a reproducible error?

[2020-09-04 10:29] maxcotech opened #19 "ReferenceError indicating that callback is undefined thrown after user subscribes."
**Here is the error message. It throws immediately after subscription, as a result the callback i defined does not work**

`VM201:5 Uncaught (in promise) ReferenceError: _callback is not defined
    at o.callback (<anonymous>:5:9)
    at o.n (Emitter.js:31)
    at o.<anonymous> (Emitter.js:113)
    at Generator.next (<anonymous>)
    at tslib.es6.js:65
    at new Promise (<anonymous>)
    at Objec

[2020-09-04 12:07] pedro-lb commented on #19
Hey there @maxcotech !

Can you provide a reproducible demo with this issue?

You can easily use a tool like code sandbox for this.

Thanks!

[2020-09-09 10:53] thearchibold opened #20 "Uncaught (in promise) Error: OneSignal is not setup correctly"
`import ReactOneSignal from 'react-onesignal';`
`const options = {
    safari_web_id:"web.xxxxx-xxxxxx",
    allowLocalhostAsSecureOrigin: true,
    notifyButton:{
        enable:true,
    }
};`
`ReactOneSignal.initialize("xxxx-xxxxx-xxxxx-xx", options);`

calling

`ReactOneSignal.getPlayerId(function(userId) {
                    console.log('user id', userId);
                });`
results in the

[2020-09-16 14:22] pedro-lb commented on #20
Hey there @thearchibold !

It's possible that OneSignal hasn't initialized yet, so you're getting this error because you're trying to configure it before it was completely initialized.

Have you tried using our hook to handle OneSignal configuration?

Here's an example:

[code]

[2020-09-16 14:23] pedro-lb commented on #17
I'm closing this issue due to inactivity.

If you still have any problems, feel free to reopen it.

[2020-09-16 14:23] #17 closed

[2020-09-16 14:24] pedro-lb commented on #18
I'm closing this issue due to inactivity.

If you still have any problems, feel free to reopen it.

[2020-09-16 14:24] #18 closed

[2020-09-16 14:24] pedro-lb commented on #19
I'm closing this issue due to inactivity.

If you still have any problems, feel free to reopen it.

[2020-09-16 14:24] #19 closed

[2020-09-16 14:28] thearchibold commented on #20
Oh ok thanks @pedro-lb , I'd try that and revert

[2020-09-16 14:43] pedro-lb commented on #20
Let me know what happens! 😄

[2020-09-22 08:06] djaffer commented on #20
Can you provide an example how to use this hook in js not ts? I tried to call this and kept getting error for hook cannot be used in ×
Error: Invalid hook call. Hooks can only be called inside of the body of a function component. This could happen for one of the following reasons:
1. You might have mismatching versions of React and the renderer (such as React DOM)
2. You might be breaking the Rule

[2020-09-22 08:39] djaffer opened #21 "OneSignal.initialized always undefined"
I was trying to check if OneSignal object is initialized but it was always returning undefined. Had to use OneSignal.getOneSignalInstance().

[code]

[2020-09-30 14:53] MakhBeth opened #22 "Wrong type on event callback."
Hi!
I've copy-pasted the example of the event handler
[code]

 but I have a TS error:
[code]

TS wants an object like `{callback: {callback: (result: any) => any}}` instead of a simple `{callback: (result: any) => any}`

Here the d.ts file that causes the issue
https://github.com/pedro-lb/react-onesignal/blob/a6b249b71ce6ebc4f2091ad0d2f70b1a709bbc4c/package/src/oneSignal.types.ts#L61

Thank you fo

[2020-10-07 06:19] ducnm2359 commented on #20
It would be nice if you have example when setup react-onesignal.
I still got this error even when I tried many ways from normal to hook.
Thank you

[2020-10-19 13:23] witalobenicio commented on #20
For those who may still be having this problem, check if you got the two files that OneSignal provides after you configure your website in their platform.
You need to put them in <project-root>/public/

[2020-10-20 12:03] witalobenicio commented on #18
@pedro-lb I'm still having this issue. Didn't look at the code, but could be possible to the lib send the event directly to the script in head?
There it won't have access to a module called inside the callback function.

[2020-10-20 20:21] witalobenicio commented on #18
I've saw that got this in console too:

Access to fetch at 'https://cdn.onesignal.com/sdks/OneSignalPageSDKES6.js?v=151104' from origin '******' has been blocked by CORS policy: No 'Access-Control-Allow-Origin' header is present on the requested resource. If an opaque response serves your needs, set the request's mode to 'no-cors' to fetch the resource with CORS disabled.

[2020-11-06 08:21] nqduy96 commented on #22
nice!

[2020-12-08 14:02] IagoFreire opened #24 "Error when i try use bind in callback func"
When i try use 'bind' in callback func the code bellow i received a error

[code]

"Uncaught SyntaxError: Unexpected identifier
    at injectScript (index.es.js:120)
    at injectModuleScript (index.es.js:137)
    at Object.initialize (index.es.js:155)
    at new App (App.tsx:151)
    at new App (eval at ES6ProxyComponentFactory (react-hot-loader.development.js:NaN), <anonymous>:14:7)
    at const

[2020-12-08 19:30] IagoFreire commented on #24
I managed to solve changing the code below in the lib

[code]
I don't know if the is the best solution but work for me

[2020-12-08 23:31] #22 closed

[2020-12-08 23:34] pedro-lb commented on #24
Hey there @IagoFreire!

I'm glad you were able to fix the issue locally, but we should patch this in the repo and publish a new version so that the fix is available for all users.

I wasn't able to reproduce the problem locally, can you share a reproducible code? Such as a code sandbox repo, etc.

I'm concerned about this line here:

[code]

We're assigning directly to the `window` object inside a

[2020-12-21 10:54] m-dary-nur opened #25 "Event listener for notification not working properly"

[2020-12-21 12:15] pedro-lb commented on #25
Hey there @m-dary-nur , can you provide more details?

[2021-01-04 14:06] rizalrhmn opened #26 "Sorry, check with the site admin for error: EACCES : when deploying to production"
Hello, I don't know if it's related to this package, but because I'm desperate looking for solution, maybe someone can give me some hints.

Short story, I'm facing 2 problems when deploying my react app to production.

1st I got error mimetype HTML is not supported. Something like this :

`error OneSignalSDKWorker.js The script has an unsupported MIME type ('text/html').
`
After some research, I f

[2021-01-04 14:14] rizalrhmn commented on #26
I just don't understand why I need to add the OneSignalSDKWorker.js manually? Does the point of using this package (react-onesignal) so we don't need to add manually all of the onesignal.js manually?

[2021-01-08 19:40] briancaldass opened #27 "react-onesignal-not-working"
it's not working

I have the next one message:
![image](https://user-images.githubusercontent.com/16884130/104057041-6d57b500-51bf-11eb-99b5-71a4dc3420df.png)

[2021-01-13 13:27] zausailov commented on #20
I have the same issue. Even after adding files that OneSignal provides. My code

`useEffect(() => {
        const options = {
            allowLocalhostAsSecureOrigin:true,
            notifyButton: {
                enable: true,
                size: 'small'
            }
        }

        OneSignal.initialize('appID', options);

        OneSignal.registerForPushNotifications();
    }, []);`

A

[2021-01-27 20:53] JELugoM opened #28 "My player id is unsubscribe when refresh (F5) my app"
Hi, I have a problem, maybe my implementation is wrong, but I want your feedback, I've tried to implement onesignal on my reactjs web app (it's not react native).

I tried 3 differents aproachs:
	1.- Following the oficial onesignal web push sdk documentation.
	2.- This aproach.
	3.- Using this aproach https://dev.to/devpato/push-notifications-in-reactjs-with-onesignal-5bon

All of them I've comple

[2021-02-02 20:56] wilsonguiraldelli opened #29 "new Audio.play() in event listener 'notificationDisplay' returning not defined"
I've done all setup stuff in my react component, receiving notification works fine, the problem is that I need to play a sound when a notification arrives.

My implementations is as follow:
![image](https://user-images.githubusercontent.com/28939244/106660754-2cb14880-657f-11eb-98f9-0a9e83c9117e.png)

The sound.play() function works in a button onclick() and calling it in the component (OrderConta

[2021-02-07 13:20] o1dnik opened #30 "Either blocked by client or incorrect use of the react hook"
Hi,

So what is the "best practice" in using the react-onesignal module? I see people trying to initialize ([here](https://github.com/pedro-lb/react-onesignal/issues/26) or [here](https://github.com/pedro-lb/react-onesignal/issues/27) and on [stackoverflow](https://stackoverflow.com/questions/57284394/issue-of-onesignal-integration-in-reactjs-application/57300470)) the library, but no luck with or

[2021-02-19 10:42] o1dnik commented on #30
It was related to uBlock ad-blocker extension. For some reason this is the only one ad-blocker which has the cdn.onesignal.com URL in it's blacklist. Some details [here](https://github.com/OneSignal/OneSignal-Website-SDK/issues/371).

[2021-02-19 10:42] #30 closed

[2021-03-27 05:25] dhwalin opened #32 "An example for React JS App Ionic"
Hello, I am trying to implement OneSignal using this package in my Ionic App.

I tried my best to implement but some code it gives no popup and some code gives error OneSignal not setup properly.

In App.tsx I have put following function and run on App load. But it says onesignal is not setup properly.

[code]

then in useeffect, I am calling above function. With this code, nothing is happening.

[2021-04-04 08:06] #21 closed

[2021-04-22 12:04] thedeephakani commented on #25
same for me
when I try to add an event using the below code it shows me an error that callback is missing
const events = [
                {
                    listener: "once",
                    event: "subscriptionChange",
                    callback: async (isSubscribed: boolean) => {
                        if (true === isSubscribed) {
                            console.log("The user subs

[2021-04-23 16:52] statico commented on #4
If it helps anybody, this is what I ended up with for my own `useOneSignal` hook using Next.js, which does isomorphic/SSR:

[code]

[2021-04-23 18:47] statico commented on #27
You have to [download the OneSignal Service Worker files](https://github.com/OneSignal/OneSignal-Website-SDK/releases/download/https-integration-files/OneSignal-Web-SDK-HTTPS-Integration-Files.zip) and (by default) serve them from the root of your application.

More information: https://documentation.onesignal.com/docs/onesignal-service-worker-faq

[2021-04-23 18:54] statico opened #33 "setExternalUserId should accept an additional authentication parameter"
In order to use OneSignal identity verification, `setExternalUserId` should accept a second parameter: https://documentation.onesignal.com/docs/identity-verification

This can be worked around currently by doing:

[code]

[2021-04-24 16:25] CPROps commented on #4
Sorry I missed this question, @pedro-lb!
I did not need to make any changes to the package. We were able to make things work in a class component, simply forcing this to load client-side within `componentDidMount()`.
Another thing that helped us was using `express.static()` [<docs>](https://expressjs.com/en/starter/static-files.html) to make the library publicly available.

[2021-04-24 16:27] slothluvchunk commented on #4
Sorry I missed this question, @pedro-lb!
I did not need to make any changes to the package. We were able to make things work in a class component, simply forcing this to load client-side within `componentDidMount()`.
Another thing that helped us was using `express.static()` [<docs>](https://expressjs.com/en/starter/static-files.html) to make the library publicly available.

[2021-05-10 04:08] ashertoufeeq opened #34 "slidedown prompt and custom link is not supported!"

[2021-05-10 12:06] pedro-lb commented on #34
Hey there @ashertoufeeq !

Feel free to open a PR implementing this feature, I'll merge and publish it :)

[2021-05-16 07:59] MatthewQuek commented on #33
same thing for setEmail

[2021-05-16 18:35] pedro-lb commented on #27
That's correct, @statico. Thanks for the response!

I'll close this issue, but feel free to respond if there is any other problem actually related to `react-onesignal`.

[2021-05-16 18:35] #27 closed

[2021-06-01 15:00] Luca8991 commented on #20
It doesn't work for me. @pedro-lb, can you also upload a complete setup example? I can't really get where to call `OneSignal.initialize()` function. Now I'm calling it in `App.tsx`:
[code]
Can you please help me?

[2021-06-07 01:30] DaNiELChIoRo commented on #20
I guest this might be because the hole project is more for the backend side, isn't it? That might be why at the front we cannot get the playerId before declaring it

[2021-06-07 23:38] rgomezp commented on #34
@ashertoufeeq This is coming soon!

[2021-06-08 13:57] pedro-lb opened #38 "On the future of `react-onesignal`"
Hi folks!

I'm creating this issue to make things clear.

As some of you may have noticed, `react-onesignal` has been transferred from my personal account to the [official OneSignal organization](https://github.com/OneSignal).

This means that this package is now the official implementation of OneSignal for React and we're expecting great things to come, such as a better maintenance cycle, more co

[2021-06-09 13:00] BigsonLvrocha commented on #38
Congratulations!

[2021-06-17 20:03] andredealmei opened #39 "Adds Ability To use SERVICE_WORKER_PARAM"
Ability To use SERVICE_WORKER_PARAM,SERVICE_WORKER_PATH && SERVICE_WORKER_UPDATER_PATH;

documented here https://documentation.onesignal.com/docs/onesignal-service-worker-faq

[2021-06-18 13:06] sorinraduta commented on #34
Jenant pachet

[2021-06-20 14:06] EliotRaven commented on #18
I have the same problem(((

[2021-06-20 14:09] EliotRaven opened #40 "react_onesignal__WEBPACK_IMPORTED_MODULE_1__ is not defined"
A have this problem when I call getUserId function
{
    listener: 'on',
    event: 'notificationPermissionChange',
    callback: async ({ to }) => {
        if(to === 'granted') {
          let id = await OneSignal.getUserId()
        }
    },
  },

[2021-06-20 14:22] EliotRaven opened #41 "How to fix this problem? `[Worker Messenger] [Page -> SW] Could not get ServiceWorker to postMessage!"
![telegram-cloud-photo-size-2-5366406631438529174-y](https://user-images.githubusercontent.com/25608846/122677663-f43b9f80-d1eb-11eb-9e1f-afa855089b7a.jpg)

[2021-06-20 16:39] ahmedali5530 commented on #41
I had this problem because i had enabled "do not disturb mode" on my PC. Check yours.

[2021-06-20 16:55] EliotRaven commented on #41
it's not helped(

[2021-06-22 13:04] EliotRaven commented on #40
how to get any data, libs or const from inside?

[2021-06-27 18:29] EliotRaven commented on #41
@ahmedali5530 @gdeglin @leemunroe @keithnoguchi
`[Worker Messenger] [Page -> SW] Could not get ServiceWorkerRegistration to postMessage!`
I have this problem anyway.... can you help me please?

[2021-07-06 21:02] rgomezp opened #44 "React OneSignal 2.0 now in beta"
# 🚧  2.0 Beta Release 🚧

Howdy!
We are happy to announce that we have released the 2.0 beta version of this package which includes several major changes.

## Yarn
`yarn add react-onesignal@2.0.0-beta1`

## npm
`npm install --save react-onesignal@2.0.0-beta1`

## ⚠️ Includes breaking changes
If you are coming from <2.0, you will need to migrate if you choose to update the package.

## Migration Gui

[2021-07-06 21:09] rgomezp commented on #34
Howdy,
These functions are now available in the 2.0 release.

[Please see our 2.0 beta pin for more info](https://github.com/OneSignal/react-onesignal/issues/44)

[2021-07-15 20:53] rgomezp commented on #33
Howdy,
This is now available in the 2.0 Beta release.

Enjoy!

[2021-08-10 01:05] Dakojr commented on #20
In your App.js, call the Onesignal.initialize :

`
import OneSignal from 'react-onesignal';

  const options = {
    allowLocalhostAsSecureOrigin: true,
    notifyButton: {
      enable: false,
    },
    persistNotification: true,
    autoResubscribe: true,
    autoRegister: true,
    safari_web_id: "safari-web-id",
  };

  useEffect(() => {
    OneSignal.initialize("app-id", options);
  }, []);

[2021-08-17 14:00] emzoumpo commented on #25
@pedro-lb This is solved in #23 but it's not released yet as a new version. @
m-dary-nur @
thedeephakani The implementation above is correct with the types of the current version, but the types are wrong, and that's why it's not working
If you ts-ignore the error and use
[code]

[2021-08-17 14:06] pedro-lb commented on #25
Hey guys!

@emzoumpo @thedeephakani @m-dary-nur

Please try our new version, details here: https://github.com/OneSignal/react-onesignal/issues/44

You'll need to change the initialization logic to set it up, but it should work much better ❤️

[2021-08-18 23:08] rgomezp commented on #44
Version 2.0 now out of Beta!
---

[2021-08-18 23:08] #44 closed

[2021-08-19 13:17] pedro-lb commented on #38
https://github.com/OneSignal/react-onesignal/issues/44

[2021-08-19 13:17] #38 closed

[2021-08-24 10:21] mjm918 opened #49 "OneSignalSDKWorker cannot be loaded"
**Description:**
[code]

Hi recently we have been facing this issue while loading onesignal SDK and the worker SDK. I have attached an image containing the full error message. We have been using OneSignal for years but recently we encountered this issue.

<img width="1440" alt="Screenshot 2021-08-24 at 6 11 06 PM" src="https://user-images.githubusercontent.com/17846525/130599403-9c8f97af-6c58-4fc9

[2021-08-24 23:32] rgomezp commented on #49
Howdy,
It looks like you are using `firebase-messaging-sw.js`. What version of the SDK are you using?

[2021-08-25 07:09] mjm918 commented on #49
Hi @rgomezp thank you for you reply. Sorry we had to push an urgent update to live yesterday thats why we decided to use firebase for time being.

The issue still can be seen in our staging: https://staging.easyecosystem.com/#/

Thank you in advance

[2021-08-30 23:04] rgomezp commented on #49
I'm not really sure why. But I'm glad you fixed it.

Enjoy!

[2021-09-15 21:04] #33 closed

[2021-09-20 23:43] rgomezp commented on #39
Howdy,
Thanks for your patience. This has now been fixed. You are now able to use the initialization parameters:

[code]

Read more details [here](https://github.com/OneSignal/OneSignal-Website-SDK/releases/tag/151508).

Enjoy!

[2021-09-20 23:43] #39 closed

[2021-10-09 07:51] slamacchia opened #51 "Add isPushNotificationsSupported API"
Glad to hear OneSignal supporting this package!

Is it possible to add back the `isPushNotificationsSupported()` APi?:
- https://documentation.onesignal.com/docs/web-push-sdk#ispushnotificationssupported-method

Or is there another way of determining this now?

I find this feature useful for hiding web push notification settings in my web app on unsupported browsers (i.e. iOS Safari).

[2021-11-09 21:56] statico opened #53 "logoutEmail() should probably return a promise"
Right now it returns `void`, but clearly there's a network request happening. Chrome is showing me an uncaught exception when there's an error with the call. It would be nice to be able to catch this in my own code.

![CleanShot 2021-11-09 at 13 56 22](https://user-images.githubusercontent.com/137158/141011330-39cfefb4-f63c-4e8e-9a79-0270633b1f90.png)

[2021-11-09 23:01] #34 closed

[2021-11-09 23:04] rgomezp commented on #53
Howdy,
Thanks for reporting. You are right, this should return a promise.

Thanks for your patience while we resolve.

[2021-11-09 23:34] rgomezp commented on #41
Howdy,
Is it okay to close this issue? Try upgrading to the latest release.

[2021-11-09 23:36] rgomezp commented on #20
Please update to the latest release.

Cheers!

[2021-11-09 23:36] #20 closed

[2021-11-09 23:37] rgomezp commented on #24
Please update to the latest release.

Enjoy!

[2021-11-09 23:37] #24 closed

[2021-11-09 23:37] #25 closed

[2021-11-09 23:39] rgomezp commented on #26
Howdy,
To answer the above question, the package does not add this file for you. It must be served by your website in order to install the service worker.

Also, please update to the latest release.

Enjoy!

[2021-11-09 23:39] #26 closed

[2021-11-09 23:40] rgomezp commented on #28
Howdy,
Can you please try upgrading to the latest release? Hopefully, you are not encountering the issue anymore.

Cheers

[2021-11-09 23:43] rgomezp commented on #32
Howdy,
Can you please try migrating to the 2 version of the package? You can find more info in #44

Cheers

[2021-11-09 23:43] #32 closed

[2021-11-09 23:46] rgomezp commented on #29
Howdy,
Were you able to resolve the issue? It is correct that some browsers may prevent you from playing a sound.

In any case, consider migrating to the latest version of the package. See #44 for more info.

[2021-11-11 21:17] nynevi commented on #51
I would also like this to be officially supported but just fyi `window.OneSignal.isPushNotificationsSupported()` works already though. not sure if there is a downside on using it.

[2021-11-15 20:52] #53 closed

[2021-12-19 11:30] amrutsabale opened #57 "notificationDisplay event is not working in React app"
I am getting push notifications but `notificationDisplay` event is not firing. I want to read data from notification pushed. I have also tried `addListenerForNotificationOpened` but it's also not working.

My Code
[code]

[2021-12-19 11:30] amrutsabale opened #74 "notificationDisplay event is not working in React app"
I am getting push notifications but `notificationDisplay` event is not firing. I want to read data from notification pushed. I have also tried `addListenerForNotificationOpened` but it's also not working.

My Code
[code]

[2021-12-23 07:47] punit355743 commented on #57
Hello Team,

Same issue i am facing and i also use in same way...….getting the notification popup however  notificationDisplay event callback is not calling.
One strange thing happen it work for me 1 time but next day i restarted my machine again open my app on localhost.it stop calling this event. This event i really needed because i have to extract the information (message, content) and display

[2021-12-29 00:34] rgomezp commented on #57
Howdy,
Thanks for surfacing this issue. We will investigate and come back with more details.

[2021-12-29 21:26] rgomezp commented on #51
Howdy,
There is no downside to using it @nynevi

[2021-12-29 21:26] rgomezp commented on #41
Closing due to no response

[2021-12-29 21:27] rgomezp commented on #40
Closing due to inactivity

[2021-12-29 21:27] #40 closed

[2021-12-29 21:27] rgomezp commented on #29
Closing due to inactivity

[2021-12-29 21:27] #29 closed

[2021-12-29 21:27] rgomezp commented on #28
Closing due to inactivity

[2021-12-29 21:27] #28 closed

[2022-01-10 20:34] dotexe0 opened #58 "Unable to run multiple one signal 'apps' due to db conflict"
I have tested this on Chrome (Version 96.0.4664.110) and Safari (Version 15.2 (15612.3.6.1.8, 15612)). This issue is only reproducible on Safari. Chrome seems to not have this issue.

If you have more than 1 project on One Signal, you are unable to run the SDK in subsequent websites you visit without the SDK crashing due to an error in `OneSignal/OneSignal-Website-SDK/build/ts-to-es6/src/services/

[2022-03-09 13:35] kelvinOfoli commented on #49
how do I migrate to version 2.0

[2022-03-28 08:07] usman0011 opened #61 "HTTPs not working with Chrome"
## Project
Used the '**react-onesignal**' package inside a React Typescript project created with Vite.

## Description
In a Chrome browser, native prompt simply refuses to open on any HTTPs site where the project is deployed, thus not registering the user and not receiving any notifications.

## Reproducing Steps
1. One Signal App
<img width="701" alt="Screenshot 2022-03-28 at 1 25 39 PM" src="htt

[2022-03-28 19:29] rgomezp commented on #61
Howdy,
You need to choose Custom Code, not Typical Site.

Cheers

[2022-03-28 19:29] #61 closed

[2022-03-29 11:23] ramiel1999 opened #62 "Unable to set up oneSignal with React Native Web"
I am trying to build a cross platform app ios/android/web using react native. I will be using react native web to build for web. I have followed the setup guide from the documentation, but I was not successful.
I have added the following to my root App component:
[code]

I have the service worker file "OneSignalSDKWorker.js" in the root of my project, and setup the application on OneSignal for loc

[2022-03-30 20:24] rgomezp commented on #62
Howdy,
You should be able to visit `http://localhost:19006/OneSignalSDKWorker.js` in the browser and it load fine. Try doing that. Perhpas you are not hosting it correctly.

[2022-05-06 12:51] dlipford360 opened #69 "setExternalUserId causes user email to become "Never Subscribed""
I have tried many variations of the below code to troubleshoot ( with and without async. inline code. putting setExternalUserId inside a then after setEmail. Putting setEmail inside a callback after setExternalUserId)
[code]
  The above code will cause the user to become "Never Subscribed"
<img width="154" alt="image" src="https://user-images.githubusercontent.com/16856835/167134121-6fda35c5-211e-

[2022-05-07 12:49] dlipford360 commented on #69
https://status.onesignal.com/incidents/r7k5mjd3n9kz Onesignal says they have fixed the issue on their end.

[2022-05-07 23:29] #69 closed

[2022-05-18 11:25] OkancanCosar commented on #57
this usage is correct like below
[code]
but [document](https://documentation.onesignal.com/docs/web-push-sdk#receiving-notifications) says:
**Not supported on Safari and requires HTTPS website.**

and when the site closed then notification showed but "notificationDisplay" event not fired

[2022-05-20 15:58] gadishimwe opened #70 "[Typescript]: Event listeners type signature issue after 2.0.3 release"
Hello. When 2.0.3 was released, the listener functions type signature was changed from `Function` to `() => void`.
With the new signature, it means that these functions will not receive any arguments. You can see this change here:

https://github.com/OneSignal/react-onesignal/pull/59/files#diff-dcdc3e0b3362edb8fec2a51d3fa51f8fb8af8f70247e06d9887fa934834c9122L107-R126

Now my question is, how are w

[2022-05-23 17:08] rgomezp commented on #70
Howdy,
Thanks for opening the issue. This is indeed a problem. Thanks for your patience while we resolve.

[2022-05-25 15:19] #70 closed

[2022-05-25 15:28] gadishimwe commented on #70
Howdy. You're welcome!

[2022-05-25 15:49] rgomezp commented on #70
@gadishimwe , this is now fixed in 2.0.4.

Enjoy!

[2022-06-03 21:30] rgomezp commented on #62
Closing due to inactivity

[2022-06-03 21:30] #62 closed

[2022-07-08 21:01] rgomezp commented on #58
Thank you for the issue and your patience. From a first look, I suspect this issue is not React SDK-specific but rather something happening on the WebSDK itself. I will move this issue to the correct repository.

[2022-07-12 15:51] btjones commented on #57
I'm also having this issue - I cannot get the `addListenerForNotificationOpened` callback or the `notificationDisplay` event to trigger. I've ensured my urls match exactly and also used different combinations of `notificationClickHandlerMatch` and `notificationClickHandlerAction` settings. Nothing I tried has worked at all.

Any ideas on this?

@rgomezp did you get time to investigate this issue?

[2022-07-14 20:57] rgomezp commented on #57
Hey everyone, thanks for your patience.
I was able to reproduce the issue. I hope to have a fix for this very soon.

[2022-07-14 23:29] rgomezp commented on #74
@btjones @amrutsabale & others,

I was able to reproduce but then I realized I overlooked one thing. As the docs say: **Not supported on Safari and requires HTTPS website.**

Are you testing this on your production site on a non-safari browser? Please note that testing this on localhost will not work unless you have set up a secure localhost environment.

I have not been able to reproduce this in

[2022-07-14 23:50] btjones commented on #74
@rgomezp Thanks for investigating. I'm testing with Chrome on localhost with the "Treat HTTP localhost as HTTPS for testing" setting turned on. Should it work with that localhost as HTTPS setting on? Or no?

[2022-07-15 00:02] btjones commented on #74
I should mention that `addListenerForNotificationOpened` does work if I do NOT have a browser tab open to my application. In that case it opens a new tab and the listener callback is executed.

However, if I already have a window open is when I cannot get it to work.

[2022-07-15 00:11] rgomezp commented on #74
@btjones

Unfortunately, it seems this won't do the trick. I recommend testing this in an HTTPS environment such as staging or prod.

This could be a separate issue, but all the events are triggered in the same way so I believe this is related to the aforementioned issue. I also recommend testing this in an hTTPS env.

Cheers

[2022-07-15 00:17] btjones commented on #74
Thanks! I'll give it a whirl with https.

[2022-08-04 15:29] kwaref commented on #74
Hi there folks.
Is there a way to show up notifications on Chrome mobile even if the app is in foreground?
So far, the notification arrive if Chrome is in background.

[2022-08-16 03:31] rgomezp commented on #74
@kwaref ,
Hello, I'm assuming you are referring to heads up notifications? This is dictated by notification importance which is not something you can control since the delivery is via web push and not native Android.

I will close this issue since there have been no updates on the original issue.

[2022-08-16 03:31] #74 closed

[2022-08-17 07:39] nisar-snsw opened #76 "[question]: How can I invoke the sendSelfNotification method in a React Setup?"
### How can we help?

**Issue:**
Is there a way that I can invoke the sendSelfNotification method in a React Setup?

**Error:**
I get this error when that method is invoked:
Uncaught (in promise) TypeError: Vi.a.sendSelfNotification is not a function

Code snippet for testing _sendSelfNotification_ method:
[code]

[2022-08-23 09:38] KellsWorks opened #77 "The script has an unsupported MIME type ('text/html')[Bug]:"
### What happened?

I was setting up react-onesignal on my vite react app (https://documentation.onesignal.com/docs/react-js-setup). l perfectly configured everything with the worker, accessible at http://localhost:3000/OneSignalSDKWorker.js. The issue is on production. l can't access the OneSignalSDKWorker.js. Does this work only in development or ? Because l have tried like alot

### Steps to re

[2022-08-23 21:23] KellsWorks commented on #77
l found a work around with rollup.js

[code]

[2022-08-23 21:23] #77 closed

[2022-08-25 19:41] timbrownsf opened #78 "[question]: Why is Init async, and shouldnt the window["onesignal"] queue get initialized earlier?"
### How can we help?

Init doesnt look like it needs to be async. It would be nice if it wasnt - most 3rd party trackers arent.
Also, the   window["OneSignal"] property seems to only be instantiated inside of the handleOnLoad method (which is called after the script is loaded). Shouldnt the property and queue be initialized immediately during init/module import vs when the script asynchronously re

[2022-09-15 20:57] rgomezp commented on #76
Howdy,
This function is not yet supported. I will mark it as a feature request.

In the meantime, you can still use the OneSignal window object to invoke it:
`window.OneSignal.sendSelfNotification()`

Thanks for your patience.

[2022-09-15 23:10] rgomezp commented on #78
Howdy,
Thanks for your patience.

I think you make an excellent point. Before making a decision, we would have to carefully consider the switch. That said, I can't think of a reason this *cannot* be done at the moment. However, note that we would not be able to remove this until a future major release.

If you could provide us with more info as to *why* this is important to you and how you are usi

[2022-09-15 23:28] timbrownsf commented on #78
This is important if someone tries to send data to OneSignal before the handleOnLoad method has been invoked

[2022-09-15 23:58] rgomezp commented on #78
@timbrownsf ,
I see. Are you trying to do something like set user data tags?

[2022-09-25 19:27] edrdesigner commented on #17
Check the documentation you need to add OneSignalSDKWorker. You can check here
[OneSignalSDKWorker](https://documentation.onesignal.com/docs/react-js-setup#service-worker-file)

[2022-10-04 20:28] madromas commented on #41
same problem

[2022-11-02 08:09] ugur-eren opened #79 "[Bug]: removeExternalUserId throws error if Identity Verification is active"
### What happened?

If [Identity Verification](https://documentation.onesignal.com/docs/identity-verification) is active, calling `removeExternalUserId` throws `changing external_user_id on players require passing external_user_id_auth_hash` error.

### Steps to reproduce?

[code]

### What did you expect to happen?

I expected it to remove the external user id from the player.

### Relevant log o

[2022-11-02 11:31] ugur-eren commented on #79
Closing since this is actually [documented](https://documentation.onesignal.com/docs/identity-verification#removing-external-user-id), I didn't notice, sorry.. However, it would be perfect if we could just use `removeExternalUserId` in this situation than updating to an empty string with the previous id's auth hash. But it seems like this is a restriction that comes from OneSignal's service, so th

[2022-11-02 11:31] #79 closed

[2022-11-22 21:05] rgomezp commented on #41
@madromas ,
Can you please check that you are successfully installing the service worker? Go to Applications -> Service Worker

I full debug log would also be helpful. You can turn on logging by running

`window.OneSingal.log.setLevel("trace")`